# Core web framework
fastapi==0.110.2
uvicorn[standard]==0.29.0

# Data & JSON handling
pydantic==1.10.15
requests==2.32.3

# Utilities
numpy

# Optional for logging/diagnostics
python-multipart==0.0.9

scipy
torch==2.3.1 --extra-index-url https://download.pytorch.org/whl/cpu
pandas